
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background: #fff;
  margin: 0 auto;
}

.contentBox {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
}

/* Header */

.desktopHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: #fff;
}

.desktopHeader nav {
  max-width: 800px;
  margin: 0 auto;
}

.desktopHeader ul {
  display: flex;
  padding-inline-start: 0;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.desktopHeader ul li {
  list-style: none;
  line-height: 1.5;
  margin: 0 2rem;
}

.desktopHeader a {
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  display: flex;
  position: relative;
}

.desktopHeader a:before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #d0d6d0;
  width: 0;
  bottom: -0.2rem;
}

.desktopHeader a:hover::before {
  width: 100%;
}

.mobileHeader {
  display: none;
}

/* hero */

#hero {
  background: url(./img/hero-background.webp) top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  text-align: center;
  position: relative;
  -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#graphics {
  background: url(./img/blured-background.webp) top left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  width: 700px;
  transform-origin: center;
  transform: rotate(60deg);
  position: absolute;
  z-index: 10;
  left: -14rem;
  top: 6rem;
}

#graphics:after {
  content: "";
  background: url(./img/eucaliptus.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  display: block;
  position: absolute;
  top: 6rem;
  left: 6rem;
  z-index: 20;
  transform: scaleY(-1) rotate(200deg);
}

#RSVPGraphics {
  background-color: #d0d6d0;
}

#RSVPGraphics::after {
  content: "";
  background: url(./img/eucaliptus.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
  display: block;
  position: absolute;
  top: 3rem;
  right: -5rem;
  z-index: 20;
  transform: scaleY(-1) rotate(240deg);
}

#hero h1,
#hero h2,
#hero h3 {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  margin: 0;


}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#hero h2 {
  font-size: 96px;
  color: #98a88a;
  z-index: 2;
  position: relative;
}

#hero h1,
#hero h3 {
  color: #d0d6d0;
}

#hero h3 {
  font-size: 96px;
  position: relative;
  bottom: 4rem;
}

#hero h1 {
  position: relative;
  font-size: 128px;
  top: 5rem;
  z-index: 1;
}

.heroContent {
  margin-top: 200px;
}

.heroContent,
#flexLocation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 50;
}

.textBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 2rem;
}

.heroContent .textBox {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



#imgBox,
#accommodationImgBox {
  position: relative;
}

#imgBox img,
#accommodationImgBox img {
  width: 400px;
  z-index: 6;
  position: relative;
}

#imgBox:before {
  content: "";
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #98a88a;
  border-radius: 30px;
  top: 2.5rem;
  right: 2.3rem;
  z-index: 5;
}

/* Meghívó */

#invitation span {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  margin: 0;
  font-size: 64px;
  color: #98a88a;
}

#invitation,
#countDown {
  text-align: center;
  margin: 0 auto 5rem auto;
  position: relative;
  overflow: hidden;
}

.invitationContent {
  max-width: 600px;
}

#invitationGraphics {
  background: url(./img/blured-background.webp) top left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  transform-origin: center;
  transform: rotate(-120deg);
  position: absolute;
  z-index: 10;
  right: -10rem;
  top: 2rem;
}

#invitationGraphics:after {
  content: "";
  background: url(./img/eucaliptus.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 20;
  transform: scaleY(-1) rotate(200deg);
}

#invitation h4,
.textBox h4 {
  font-size: 48px;
  color: #ecefeb;
  position: relative;
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  margin: 0;
  top: 3rem;
}

/* Galery */

#galery {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  padding: 10px 30px;
}
.wrapper {
  max-width: 1400px;
  position: relative;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.wrapper i {
  display: none;
}

.carousel img {
  height: 300px;
  object-fit: contain;
  width: calc((100% - 30px) / 4);
  margin-left: 10px;
}

.carousel img:first-child {
  margin-left: 0px;
}

#imageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#imageModal img {
  max-width: 80%;
  max-height: 80%;
}

/*Wedding timeline*/

#weddingTimeline {
  max-width: 800px;
  margin: 60px auto 200px auto;
  text-align: center;
}

#weddingTimeline .textBox {
  position: relative;
  top: -4rem;
}

.timeline {
  position: relative;
  margin: 0 2rem;
}

.line {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 2px;
  width: calc(100% - 20px);
  background-color: black;
}

.event {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}

.event:nth-child(odd) {
  top: 5%;
}

.event:nth-child(even) {
  bottom: 5%;
}

.topText {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  left: -4.5rem;
  width: 150px;
}

.bottomText {
  position: absolute;
  top: 2rem;
  text-align: center;
  left: -4.5rem;
  width: 150px;
}

.line::before {
  content: "";
  display: block;
  position: relative;
  border-top: solid 8px transparent;
  border-left: solid 8px black;
  border-bottom: solid 8px transparent;
  top: -0.45rem;
  right: 0.4rem;
}

.line:after {
  content: "";
  display: block;
  position: relative;
  border-right: solid 8px black;
  border-bottom: solid 8px transparent;
  border-top: solid 8px transparent;
  top: -1.45rem;
  left: 0.5rem;
}

#firstEvent {
  left: 10%;
}
#secontEvent {
  left: 30%;
}
#thirdEvent {
  left: 50%;
}
#fourthEvent {
  left: 70%;
}
#fifthEvent {
  left: 90%;
}
#p-none {
  display: none;
}

/* Location */

#location {
  background: url(./img/location-bg.png) top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#location,
#RSVP .textBox {
  text-align: center;
  margin: 0 auto;
  display: flex;
}

#map {
  height: 400px;
  width: 600px;
  padding: 0 20px;
}

#address h3 {
  margin: 0;
}

/*  Szállás */
#accommodation {
  margin: 60px 0;
}

#accommodationBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#accommodationImgBox:before {
  content: "";
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: #98a88a;
  border-radius: 30px;
  top: 2.5rem;
  right: 1.7rem;
  z-index: 5;
}

#accommodationContent {
  padding: 20px;
  text-align: left;
  width: 60%;
}

/* Countdown */
.countdown {
  text-align: center;
  max-width: 600px;
}

#timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 64px;
  padding: 10 0 0 0px;
  color: #98a88a;
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
}

.days {
  display: flex;
  flex-direction: column;
}

.days p {
  margin: 0;
}

/* FORM */

#RSVP {
  background-color: #d0d6d0;
  height: auto;
  margin-top: 120px;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}

#RSVPForm {
  width: 70%;
  padding: 60px 0;
}

#RSVP form {
  margin: 0 auto;
}

#RSVP input,
#RSVP select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 2px solid #98a88a;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333333;
}

#RSVP textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 15px;
  border: 2px solid #98a88a;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333333;
}

#RSVP input::placeholder,
#RSVP textarea::placeholder,
#RSVP select::placeholder {
  color: #a0a0a0;
  font-size: 16px;
}

#RSVP button {
  padding: 16px;
  background-color: #98a88a;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 50%;
  margin-bottom: 15px;
}


#RSVP button:hover {
  background-color: #5d903e;
}

#RSVP label {
  display: flex;
  margin-bottom: 8px;
}

#nameForm,
#emailForm {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;

}

#emailForm input:last-of-type {
  margin-right: 0;
}

.newInputClass {
  width: 49%;
  height: 46px;
}


.inputContainer {
  position: relative;
  margin-bottom: 10px;
}

.newInputClass {
  width: calc(100% - 30px);
  padding-right: 30px;
}

.removeButton {
  position: absolute;
  right: 15px;
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #5d903e;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  color: #fff;
}


.accommodationYes {
  display: flex;
  align-items: center;
}

.accommodationForm label {
  display: flex;
  width: 100%;
}

.accommodationForm label input {
  margin-right: 8px;
  margin-left: 8px;
}

#letszamDiv {
  width: 100%;
}

#RSVP .textBox h3 {
  font-weight: 400;
  font-size: smaller;
}

#nameForm > div,
#emailForm input{
  flex: 1;
  margin-right: 15px;
  width: 50%;
}

#RSVP input[type="radio"] {
  width: 20px;
  height: 20px;
}

#RSVP select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 10px;
}

#messageForm {
  margin-bottom: 120px;
}

/* scroll down animation */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 50px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 3px #98a88a;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #98a88a;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@media only screen and (max-width: 1440px) {
  /* Hero */
  #graphics:after {
    width: 400px;
    height: 400px;
    top: 10rem;
    left: 8rem;
  }

  #RSVPGraphics::after {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width: 1200px) {
  /* Hero */
  #graphics,
  #RSVPGraphics::after {
    width: 400px;
    height: 400px;
  }

  #graphics:after {
    width: 300px;
    height: 300px;
    top: -9rem;
    left: -6rem;
  }
  #invitationGraphics:after {
    height: 350px;
    width: 350px;
    top: 4rem;
  }
  #imgBox img {
    width: 300px;
  }
  #imgBox:before,
  #accommodationImgBox:before {
    width: 300px;
    height: 200px;
    top: 3rem;
    right: 1.5rem;
  }
  .carousel img {
    width: calc(100% / 3);
    height: 260px;
  }
  .wrapper i {
    display: block;
    position: absolute;
    top: 50%;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    background-color: #5d903e;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    transform: translateY(-50%);
  }

  .wrapper i:first-child {
    left: -23px;
  }

  .wrapper i:last-child {
    right: -23px;
  }
}

@media only screen and (max-width: 834px) {
  /* Header */

  #RSVPGraphics {
    display: none;
  }
  .desktopHeader {
    display: none;
  }

  .carousel img {
    width: calc(100% / 2);
  }

  #address {
    display: flex;
    order: 1;
  }

  #map {
    order: 2;
  }
  #flexLocation {
    text-align: center;
  }

  #location {
    height: auto;
  }

  .mobileHeader {
    display: flex;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 1000;
  }

  .mobileHeader nav {
    margin: 0 auto;
    width: 100%;
    height: 84px;
    border-top: 0.2px solid #f1f1f1;
    background: #fff;
    box-shadow: 0px -10px 15px 0px rgba(207, 207, 207, 0.15);
  }

  .mobileHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }

  .mobileHeader ul li {
    list-style: none;
    line-height: 1.5;
    margin: 0 1rem;
  }

  .mobileHeader a {
    display: flex;
    position: relative;
  }

  .mobileHeader svg {
    height: 24px;
    width: 24px;
    fill: #98a88a;
  }

  /* HERO */
  #graphics,
  #RSVPGraphics {
    height: 400px;
    width: 400px;
  }
  #graphics::after,
  #RSVPGraphics::after {
    top: -12rem;
    left: -12rem;
  }

  #invitationGraphics:after {
    left: 28rem;
    top: -28rem;
    transform: rotate(160deg);
    height: 300px;
    width: 300px;
  }

  #hero h2 {
    font-size: 64px;
  }

  #hero h3 {
    font-size: 36px;
    bottom: 1.3rem;
  }

  #hero h1 {
    font-size: 48px;
    top: 2rem;
  }

  .heroContent {
    margin-top: 12rem;
  }
  /* Galety */

  #RSVP {
    margin-top: 0;
    padding: 20px 20px 60px 20px;
  }

  #RSVPForm {
    width: 100%;
  }

  #nameForm > div,
  #emailForm input {
    flex: 1;
    margin-right: 20px;
    width: 100%;
  }
  #emailForm:last-of-type {
    margin-right: 0;
  }

  .icon-scroll {
    bottom: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .mobileHeader ul li {
    margin: 0;
  }
  #hero {
    overflow: hidden;
    height: calc(100vh - 85px);
  }

  #map {
    height: 200px;
    width: 80%;
  }

  #invitation {
    margin: 0;
  }

  .heroContent {
    margin-top: 2rem;
  }
  #imgBox img,
  #accommodationBox img {
    width: 250px;
  }

  #invitationGraphics:after {
    left: 19rem;
    top: -10rem;
  }

  #imgBox:before {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    top: 0.7rem;
    right: 1rem;
  }
  /* Galery */

  /* Wedding timeline */
  #weddingTimeline {
    padding: 0;
  }
  .timeline {
    height: 600px;
  }

  .line {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateY(-50%);
  }

  .line::before {
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    border-top: solid 8px black;
    top: -0.45rem;
    right: 0.45rem;
  }

  .line::after {
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    border-bottom: solid 8px black;
    top: 570px;
    left: -0.45rem;
  }

  .event {
    width: 20px;
    height: 2px;
    left: 50%;
    top: auto;
    bottom: 10%;
    transform: translate(-50%, 0);
  }

  .topText {
    left: -10rem;
    position: inherit;
    display: flex;
    flex-direction: column;
    bottom: -2rem;
  }

  .bottomText {
    left: 2rem;
    position: inherit;
    display: flex;
    flex-direction: column;
    top: -1rem;
  }

  #firstEvent {
    top: 10%;
    left: 50%;
  }

  #secontEvent {
    top: 30%;
    left: 50%;
  }

  #thirdEvent {
    top: 50%;
    left: 50%;
  }

  #fourthEvent {
    top: 70%;
    left: 50%;
  }

  #fifthEvent {
    top: 90%;
    left: 50%;
  }
  .bottomText h3,
  .topText h3,
  .bottomText p,
  .topText p {
    margin: 0.3rem 0 0 0;
  }

  #p-none {
    color: transparent;
    display: block;
  }

  /* accomodation */

  #accommodationContent {
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  #accommodationImgBox:before {
    width: 250px;
    height: 140px;
    border-radius: 10px;
    top: 0.7rem;
    right: 1rem;
  }

  #nameForm,
  #emailForm,
  #RSVP button,
  .newInputClass {
    flex-direction: column;
    width: 100%;
  }

  #RSVP button {
    align-items: center;
    flex: 0;
  }

  #nameForm > div,
  #emailForm input {
    margin-right: 0;
  }

  .accommodationYes {
    flex-direction: column;
  }

  .carousel img {
    width: 100%;
    height: 280px;
  }

  .icon-scroll {
    bottom: 80px;
  }
}
